@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  background-color: #242424;
  color: aliceblue;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
}
.To-Do-List{
  font-family: "Open Sans", sans-serif;
  text-align: center;
  align-items: center;
  margin: 100px;
  font-size: 25px;
}

h1{
  font-size: 50px;
}
h2{
  font-weight: 100;
  font-size: 20px;
  margin-top: auto;
  margin-bottom: -30px;
}
button{
  font-size: 20px;
  font-weight: 300;
  padding: 10px 20px;
  color: aliceblue;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.add-button{
  background-color: transparent;
  font-size: 25px;
  margin: -35px;
  padding: 1 2px;
}
.add-button:hover{
  color: hsl(0, 0%, 70%);
}
.delete-button{
  background-color: hsl(0, 50%, 54%);
}
.delete-button:hover{
  background-color: hsl(0, 50%, 44%);
}
.move-button{
  background-color: hsl(226, 64%, 55%);
}
.move-button:hover{
  background-color: hsl(226, 64%, 45%);
}

input[type="text"]{
  width: 30%;
  margin-top: 10px;
  flex: 1;
  font-size: 20px;
  font-weight: 100px;
  color: aliceblue;
  padding: 10px;
  outline: none;
  border: none;
  border-bottom: 2.5px solid #ccc;
  padding-bottom: 5px;
  background-color: transparent;
}

ol{
  padding: 0;
}
li{
  font-size: 20px;
  font-weight: bold;
  padding: 15px;
  align-items: center;
  text-align: left;
  padding-left: 50px;
  background-color: hsl(0, 0%, 30%);
  margin-bottom: 10px;
  border-radius: 7px;
  display: flex;
}
.text{
  flex: 1;
}
.delete-button, .move-button{
  font-family:"Open Sans", sans-serif;
  padding: 8px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}